* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #0b2434;
  font-family: "Karla", sans-serif;
  padding-top: 3rem;
}

.heading {
  font-size: 3rem;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  font-family: inter;
  max-width: 35rem;
}

main {
  background-color: #f5f5f5;
  width: 90%;
  height: 90vh;
  margin: auto;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2rem;
}

.die-face {
  height: 5rem;
  width: 5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-face:active {
  transform: scale(0.8);
}

.die-num {
  font-size: 2.5rem;
}

.roll-dice {
  height: 5rem;
  width: 10rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5035ff;
  color: white;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
